$textPrimary: #f78b70;
$textSecondary: #ececec;
$bgPrimary: #23232e;
$bgSecondary: #141418;

.reservation-header {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    color: $textPrimary;
    text-shadow: -1px 5px 5px #000,
				  1px 5px 5px #000,
				 1px -2px 0 #000,
				-1px -2px 0 #000;
}

.reservation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-form {
    width: 60vw;
    color: $textPrimary;
    background: $bgPrimary;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
    margin: 0 0 5rem 0;
}

.reservation-text-input {
    width: 75%;
    margin: 2rem 0 0 0;
    padding: 0.5rem 0;
    font-size: 2rem;
    color: $textSecondary;
    background: none;
    border: none;
    border-bottom: 0.1rem solid #f78b70;
  }

  .reservation-select {
    width: 20%;
    margin: 2rem 0 0 0;
    padding: 0.5rem 0;
    font-size: 2rem;
    color: $textSecondary;
    background: none;
    border: none;
    border-bottom: 0.1rem solid #f78b70;
  }

  .reservation-textarea {
      background: none;
      border: 0.1rem solid $textPrimary;
      border-radius: 0.5rem;
      height: 50vh;
      font-size: 2rem;
      color: $textSecondary;
  }

  .reservation-submit-btn {
    font-size: 2rem;
    font-family: 'Solway', serif;
    margin: 2rem 0 0 0;
    padding: 1.5rem;
    background-color: #f78b70;
    color: white;
    align-self: center;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .reservation-form {
        margin: 0 0 15rem 0;
        width: 75vw;
    }

    .reservation-text-input, .reservation-select {
        width: 100%;
        margin: 0;
    }
//select labels need work
    .reservation-label {
      margin: 2rem 0 0 0;
    }

    .reservation-textarea {
      padding: 1rem;
      margin: 2rem 0 0 0;
    }

}