$textPrimary: #f78b70;
$textSecondary: #ececec;
$bgPrimary: #23232e;
$bgSecondary: #141418;

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    font-size: 7rem;
    display: flex;
    justify-content: center;
    color: $textPrimary;
    text-shadow: -1px 5px 5px #000,
				  1px 5px 5px #000,
				 1px -2px 0 #000,
				-1px -2px 0 #000;
}

.about-main {
    display: flex;
    height: 40vh;
    width: 75%;
}

.about-image-container {
   border: solid 1px $bgPrimary;
}

.about-image {
    height: 100%;
    width: 100%;
}

.about-blurb {
    background: white;
    color: black;
    padding: 1rem 3rem;
    overflow-y: auto;
}

.about-blurb::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.about-blurb::-webkit-scrollbar-track {
    background: $bgPrimary;
}
  
.about-blurb::-webkit-scrollbar-thumb {
    background: $textPrimary;
    border-radius: 0.5rem;
}

.about-blurb-header {
    color: $textPrimary;
    letter-spacing: 0.5rem;
    background: $bgPrimary;
    padding: 0.5rem;
    width: 75%;
}

.about-blurb-text {
    line-height: 2;
}

@media only screen and (max-width: 600px) {
    .about-header {
        font-size: 5rem;
    }
    
    .about-main {
        display: flex;
        flex-direction: column-reverse;
        height: 180vh;
        margin: 0 0 10rem 0;
    }
}