$textPrimary: #f78b70;
$textSecondary: #ececec;
$bgPrimary: #23232e;
$bgSecondary: #141418;

.footer {
    padding: 1.5rem;
    width: 96.5vw;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: $bgSecondary;
    color: $textPrimary;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-item {
    padding: 0 1.5rem;
    font-size: 2rem;
}