$textPrimary: #f78b70;
$textSecondary: #ececec;
$bgPrimary: #23232e;
$bgSecondary: #141418;

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-header {
    font-size: 3rem;
    align-self: center;
    color: $textPrimary;
}

.menu {
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    padding: 0 2rem;
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    width: 5rem;
    height: 6rem;
    transition: width 500ms, height 500ms ease;
    transition-delay: 100ms;
}

.menu-item-icon {
    width: 5rem;
    height: 5rem;
}

.menu-item-title {
    font-size: 5rem;
}

.menu-item-text {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    color: black;
}

.menu-item-title, .menu-item-detail {
    display: none;
}



.menu-item:hover .menu-item-title, .menu-item:hover .menu-item-detail {
    display: inline;
}

.menu-item:hover {
    width: 90%;
    height: 40%;
}

.menu-item:hover .menu-item-text {
    background: #f0c5bb;
    border-radius: 0.5em;
}