$textPrimary: #f78b70;
$textSecondary: #ececec;
$bgPrimary: #23232e;
$bgSecondary: #141418;

.menu-header {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: $textPrimary;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #f78b70;
}

.menu-item {
    display: flex;
    width: 5rem;
    height: 6rem;
    // background: $bgPrimary;
    transition: width 500ms, height 500ms ease;
    transition-delay: 100ms;
}

.menu-item-icon {
    font-size: 5rem;
    color: $textSecondary
}

.menu-item-text {
    display: flex;
    flex-direction: column;
    color: black;
}

.menu-item-title, .menu-item-detail {
    display: none;
}



.menu-item:hover .menu-item-title, .menu-item:hover .menu-item-detail {
    display: inline;
}

.menu-item:hover {
    width: 90%;
    height: 10rem;
}

.menu-item:hover .menu-item-text {
    background: #f0c5bb;
    border-radius: 0.5em;
}