body {
 background-image: url('./assets/patternhead54a-thumb.png');
 margin: 0;
 padding: 0;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding: 0 0 12vh 0;
}
