$textPrimary: #7bdbdb;
$textSecondary: #ececec;
$bgPrimary: #23232e;
$bgSecondary: #141418;

main {
    margin: 0 0 0 5rem;
}

.main-home {
    display: flex;
}

.main-header {
    color: $textPrimary;
    font-size: 3.5rem;
}

.main-blurb {
    margin: 0;
    height: 100%;
    background: white;
    background: $bgPrimary;
}

.main-blurb-text {
    padding: 2rem 5rem;
    line-height: 2em;
    font-size: 1.5rem;
    color: $textPrimary;
}